$body-bg: #ffffff;
$yellow: #fdce16;
$bg-black: #0a0a0a;
$active-link: #fff;
$hover-ling: #fff;
$header-border: #e7e7e7;
$header-socials-text: #b8b8b8;
$nav-links: #000;
$nav-active-link: #ffd75e;
$footer-bg: $bg-black;